.app-container {
  display: flex;
}
.content {
  width: 100%;
}

.sideBar {
  min-height: 800px;
}
.postList {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust the top margin */
  margin-left: 20px;
  margin-right: 20px;
}
.formSetting {
  margin-top: 20px; /* Adjust the top margin */
  margin-left: 20px;
  margin-right: 20px;
}
.tagContainer {
  display: flex;
  gap: 10px;
}

.del {
  position: absolute;
  right: 0;
}

.del:hover {
  /* Define the styles you want when the icon is hovered over */
  /* Example: changing color */
  color: red;
}
